.strike {
    text-decoration: line-through;
  }
  
  td{
    border: 1px solid rgb(12, 0, 0);
    padding: 5px;
    text-align: center;
    background: #ff0000;
  }

  body{
      text-align: center; 
      background: #e3ec63;  
  }


  .List{
   margin-left: 25%;
  }
